@font-face {
	font-family: "Apres Regular";
	src: url("/fonts/Apres-Regular.ttf");
}
@font-face {
    font-family: "Apres Bold";
    src: url("/fonts/Apres-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Apres Italic";
    src: url("/fonts/Apres-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Apres BoldItalic";
    src: url("/fonts/Apres-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	margin: 0;
	font-family: 'Apres Regular', sans-serif; 
	overflow: hidden;
}

#container > div {
	border-right: 1px solid gray;
}

a {
	color: #ffffff;
}

.card, #activeCard {
	width: 360px;
	height: 240px;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.25);
	/*border: 1px solid rgba(255,0,0,0.25);*/
	border-radius: 20px;
	cursor: default;
}

.card:hover, , #activeCard:hover {
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5);
	/*border: 1px solid rgba(255,255,255,0.75);*/
}

	.card .callout {
		position: absolute;
		top: 15px;
		left: 0px;
		right: 0px;
		font-size: 56px;
		font-weight: bold;
		font-style: italic;
		color: rgba(87, 58, 55,0.85);
		padding-left: 15px;
		padding-right: 15px;
	}

	.card .camera {
		position: absolute;
		left: 17px;
		bottom: 20px;
		font-size: 42px;
	}

	.card .name {
		position: absolute;
		bottom: 20px;
		left: 0px;
		right: 0px;
		text-align: right;
		font-size: 42px;
		color: rgba(120, 186, 95, 1);
		padding-left: 15px;
		padding-right: 15px;
	}

#activeCard {
	top: 800px;
	width: 800px;
	height: 530px;
	position: absolute;
	left: 50px;
	color: white;
	background-color: rgba(0, 127, 127, 0.9);
	overflow-y: hidden;
}

	#activeCard .cardContainer {
		width: 400px;
		height: 530px;
		float: left;
		position: fixed;
		overflow-x:	hidden;
		overflow-y: auto;
	}

	#activeCard .callout {
		font-size: 40px;
		padding: 20px;
		padding-bottom: 5px;
		font-style: italic;
		width: 350px;
		float: left;
	}

	#activeCard .name {
		position: relative;
		width: 350px;
		float: left;
		display: inline;
		font-size: 24px;
		padding-left: 20px;
	}

	#activeCard .age {
		position: relative;
		width: 350px;
		float: left;
		display: inline;
		font-size: 24px;
		padding-left: 20px;
	}

	#activeCard .pic {
		position: relative;
		float: left;
		display: inline;
		width: 350px;
		padding: 20px;
	}
		#activeCard .pic img {
			width: 100%;
		}

	#activeCard .text {
		position: relative;
		float: right;
		display: inline;
		width: 360px;
		height: 490px;
		padding: 20px;
		font-size: 22px;
		line-height: 1.25em;
		word-wrap: break-word;
		overflow-y: auto;
		border-left: 1px solid rgba(255, 255, 255, 0.25);
	}

.annotation, .annotation-age {
	font-size: 60px;
	color: rgba(87, 58, 55);
	text-align: right;
	font-weight: bold;
}
.annotation-age {
	display: none;
}

#title {
	position: absolute;
	top: 20px;
	left:20px;
}

#menu {
	position: absolute;
	bottom: 20px;
	left: 350px;
	text-align: center;
	background-color: rgba(255, 248, 240, 0.85);
	padding: 10px;
}

button {
	color: rgba(127, 127, 127, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 127, 127, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(127, 127, 127, 0.25);
}
button:active {
	color: #000000;
	background-color: rgba(127, 127, 127, 0.5);
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}

#unsupported {
	padding: 20px;
	display: none;
}

	#unsupported a {
		color: black;
	}